.projects {
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #19ecec00 70%, #b1c4d8 95%), 
    linear-gradient(to top, #19ecec00 70%, #b1c4d8 100%);

    h1 {
        font-size: 4.8vh;
        color: #262324;
        margin-bottom: 2rem;
    }

    .projects-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;   
        width: 100%;

        img {
            width: 30vh;
            margin: 1rem;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .project {
                display: flex;
                flex-direction: column;
                align-items: center;            }
        }
    
}