.begin {
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 100px;

    .card-container {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 20px;
        margin-bottom: -120px;

        .splash {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            clip-path: path(
              "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
            );
        }

        .card {
            font-size: 164px;
            width: 300px;
            height: 430px;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #19ecec00;
            border-radius: 20px;
            box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
              0 0 4px hsla(0, 97%, 53%, 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
              0 0 16px hsl(0deg 0% 0% / 0.075);
            transform-origin: 10% 60%;

            .image {
                width: 250px;
                border: 1px solid #101313;
            }

            h2 {
                font-size: 24px;
                font-weight: 700;
                margin-top: 20px;
                text-align: center;
            }

            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-top: 10px;
                text-align: center;
                padding: 10px;
                background-color: rgb(135, 222, 145);
                border: 2px solid rgb(3, 3, 3);
                border-radius: 30%;

                a {
                    color: rgb(180, 167, 167);
                    text-decoration: none;
                }
            }

            h3:hover {
                color: white;
                background-color: black;

                transition:0.4s;
                
                a {
                    color: rgb(239, 18, 18);
                    text-decoration: none;
                }
            }
        }

    }

  }
  
  

  
  


