.skills {
    margin: 0;
    width: 100%;

    .skills-ul {
        list-style-type: none;
        border: 10px;
        width: 50%;
        background-color: aqua;
        padding: 2vh 0;
        display: block;
        margin: 0 auto; 
        text-align: center; 
        

        .skills-li {

        }
        img {
            margin: 0 1.8vh;
            width: 8.2vh;
            padding: 2vh;
        }
    }
}




