.skills {
    margin: 0;
    width: 100%;
    display: flex;
    white-space: nowrap;
    .skills-slides {
        margin-top: 3%;
        padding: 2vh 0;
        display: inline-block;
        animation: 10s sliding infinite linear; /* Adjust duration as needed */

        img {
            margin: 0 1.7vh;
            width: 9.2vh;
        }
    }
}



