.skills {
    margin: 0;
    width: 100%;
    background-color: #b1c4d8;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    border: 2px solid #1b232b;
    .skills-slides {
        display: inline-block;
        margin: 2.5vh;
        animation: 5s sliding infinite linear; /* Adjust duration as needed */

        img {
            margin: 0 1.7vh;
            height: 9.2vh;
        }
    }
}



@keyframes sliding {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}

