.experience-div {
    width: 100%;
    height: 100vh;
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title1 {
        font-size: 4.8vh;
        font-weight: 700;
        margin-bottom: 5vh;
    }

    img {
        margin: 0 1.8vh;
        width: 30.2vh;
        padding: 1.5vh;
    }    

    .body1 {
        display: flex;
        align-items: center;
        justify-content: center;

        .experience-div1 {
        
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
    
            .title2 {
                font-size: 3.2vh;
                font-weight: 700;
                margin-bottom: 2vh;
            }
    
            .body2 {
                 h1 {
                    font-size: 2.4vh;
                    font-weight: 700;
                    margin-bottom: 1vh;
                 }
    
                ul {
                    padding-left: 1.5vh;
                }
                
                h3 {
                    font-size: 1.8vh;
                    padding-bottom: 1vh;
                }
                p {
                    font-size: 1.6vh;
                    margin-bottom: 1vh;
                }
            }
        }

    }


}