.experience-div {
    width: 100%;
    height: auto; /* Allows the height to expand based on the content */
    min-height: 100%; /* Ensures it at least fills the viewport */
    padding-top: 10vh;

    .title1 {
        font-size: 4.8vh;
        text-align: end;
        padding: 2vh;
        padding-right: 4vh;
        width: 35%;
        display: block;
        margin: 0;
        margin-top: 5vh;
        margin-bottom: 2px;
        background-color: #262324;
        color: #b1c4d8;
        border-radius: 0vh 2vh 2vh 0vh;

        @media (max-width: 1100px) {
            font-size: 3.5vh; /* Scale down font size for smaller screens */
            padding: 1.5vh 3vh; /* Adjust padding for smaller devices */
            width: 100%;
            border-radius: 0vh;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
          }
    }



    .body1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15vh 10vh;
        
        
        @media (max-width: 1100px) {
            flex-direction: column;
            margin: 5vh 5vh;
        }

        img {
            margin: 1.5vh 2.3vh;
            width: 30.2vh;
        }    

        .mac-img {
            border: 2px solid #262324;
            border-radius: 2vh;
        }

        .experience-div1 {
        
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            
            .title2 {
                font-size: 3.2vh;
                font-weight: 700;
                margin-bottom: 2vh;
            }
    
            .body2 {
                 h1 {
                    font-size: 2.4vh;
                    font-weight: 700;
                    margin-bottom: 1vh;
                 }
    
                ul {
                    padding-left: 1.5vh;
                }
                
                h3 {
                    font-size: 1.8vh;
                    padding-bottom: 1vh;
                }
                p {
                    font-size: 1.6vh;
                    margin-bottom: 1vh;
                }
            }
        }

    }


}